@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /* Primary */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166,
        100%,
        37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* Gradient */
    --Light-slate-blue--bg: hsl(252, 100%, 67%);
    --Light-royal-blue--bg: hsl(241, 81%, 54%);
    --Violet-blue--circle: hsla(256, 72%, 46%, 1);
    --Persian-blue--circle: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Hanken Grotesk',sans-serif;
}
body{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items:center;
font-size: 18px;

color:var(--White);}

.sum{color: var(--Dark-gray-blue);
font-weight: 900;
font-size: 20px;
align-self: start;}

p,
h2 {
    margin: 10px 20px
}
.container{display: grid;
grid-template-columns: 1fr 1fr;
max-width: 40%;
min-height:60%;
font-size: 1.1cqi;
background-color: white;
border-radius: 20px;
box-shadow: 10px 20px 25px hsla(241, 81%, 54%,0.1);


}
.result{display: flex;
    flex-direction: column;
    background-image: linear-gradient(hsla(256, 72%, 46%, 0.9) ,hsla(241, 81%, 54%,1));
border-radius: 20px;
align-items: center;
justify-content: stretch;}
.result>h2{margin-top: 20px;}

.head{justify-self: start;
font-weight: 900;
opacity: 0.7;
color: white;
justify-content: flex-start;
margin-top: 20px;
margin-bottom: 20px;}

.score-result{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    

border-radius:50%;
justify-content: center;
align-items: center;
box-shadow: inset 0px 10px 20px  rgba(0, 0, 0, 0.200);
background-image: linear-gradient(hsla(256, 72%, 46%, 0.9), hsla(241, 81%, 54%, 0.1));}

.summary{display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.summary>div{color: #000;
display: flex;
flex-basis: 100%;
flex-shrink: 1;
flex-wrap: 1;
}

.inside-sum{display: flex;
flex-flow: column nowrap;
width: 85%;
justify-content: center;

}
.inside-sum>div{margin-bottom: 15px;
padding: 0 10px;
width: min-content;
}


.inside-sum>div:nth-of-type(1){color: var(--Light-red);
background-color: hsla(0, 100%, 67%,0.1);
border-radius: 10px;
white-space: nowrap;
display: flex;
flex-wrap: nowrap;
align-self: center;
width: 100%;
font-size: 1.1rem;




}
.inside-sum>div>p{font-size: 1.1cqi;
}
.inside-sum>div:nth-of-type(2) {
    color: var(--Orangey-yellow);
    background-color: hsla(39,
        100%,
        56%,0.1);
    border-radius: 10px;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    width: 100%;
    
}
.inside-sum>div:nth-of-type(3) {
    color: var(--Green-teal);
    background-color: hsla(166,
        100%,
        37%, 0.1);
    border-radius: 10px;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
width: 100%;

    align-self: center;
}
.inside-sum>div:nth-of-type(4) {
    color: var(--Cobalt-blue);
    background-color: hsla(234,
        85%,
        45%,0.1);
    border-radius: 10px;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
width: 100%;


    align-self: center;
}
.score{color: var(--Dark-gray-blue);
font-weight: 700;

padding-right: 0;
display: grid;
grid-template-columns: 1fr 3fr 0.5fr;

}


.score>span{color: hsla(224, 30%, 27%,0.5);}

.quote{display: flex;
    text-align: center;
opacity: 0.7;
justify-content: flex-end;
margin-top: 5px;}

.score-result>p:first-child{font-size: 60px;
font-weight: 900;
margin-bottom: 0;
display: flex;
align-self: center;}

.score-result>p:last-child {
    opacity: 0.5;
    margin-top: 0;
    display: flex;}

button {
    
    border: none;
    overflow: hidden;
    outline: none;
    padding: 0;
    background-color: var(--Dark-gray-blue);
    color: rgba(255, 255, 255, 0.838);
    height: 45px;
    width: clamp(240px,150px,500px);
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;

    
    
    
}
.button{display: flex;
    justify-content: center;}

.button-dummy {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    

}
@media (max-width:500px){
    
    .container{
    display: grid;
    width:100%;
    height:100dvh;
grid-template-columns: 1fr;
grid-template-rows: 0.7fr 1fr;
font-size: 1rem;
max-width: 100%;
border-radius: 0%;}

.result{border-bottom-left-radius: 25px;
border-bottom-right-radius:25px;
border-top-left-radius: 0%;
border-top-right-radius: 0%;}

.inside-sum>div{min-height: 3rem;
justify-content: space-between;
margin-bottom: 1.5rem;
padding-right: 0%;}
    
.inside-sum>div>p{font-size:5cqi;}
 
button{width:20rem;}
.sum{margin-top: 2rem;}

}
